{{ ansible_managed|comment }}

[Unit]
Description=Prometheus speedtest exporter
Documentation={{ _prometheus_speedtest_homepage }}
After=network-online.target

[Service]
Type=simple
User={{ prometheus_speedtest_user }}
Group={{ prometheus_speedtest_group }}
ExecStart={{ _prometheus_speedtest_binary_directory }}/prometheus_speedtest \
    --address={{ prometheus_speedtest_address }} \
    --port={{ prometheus_speedtest_port }} \
    {{ prometheus_speedtest_flags }}
SyslogIdentifier=prometheus_speedtest

[Install]
WantedBy=multi-user.target